html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: Roboto, "Courier New", monospace;
    margin: 0;
    padding: 0;
}

.header {
    padding: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
}


.one-content {
    display: flex;
    align-items: center;
    gap: 12px;
}

.one-content div {
    flex-basis: 400px;
}

.dark {
    background-color: #1F2937;
}

button {
    background-color: #3882F6;
    font-weight: bold;
    padding: 8px;
    border: none;
    border-radius: 6px;
}

.light-text, a {
    color: #E5E7EB;;
}
